# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.sqlite3
*.db

# Virtual environment
venv/
env/
.venv/
.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.out

# Pytest / Coverage
.coverage
htmlcov/
.pytest_cache/

# FastAPI / Starlette uploads
uploads/
keys/

# Secret files / config
*.pem
*.key
.env
